@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=The+Nautigal:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Great+Vibes&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=The+Nautigal:wght@400;700&display=swap');

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Variable Classes */
:root{

    --text-white:white;
    --text-gray:rgb(204,204,204);
    --text-dark:rgb(31,31,31);
    --main-color:#e75b2a;
    --unique-font: "Lobster", sans-serif;
    --text-dark-gray:rgb(89, 86, 90);
    --great-vibe:"Great Vibes", cursive;
}




/* Utility Classes */
.flex{

    display: flex;
}

.container{

    margin-inline: 100px;
}

a{

    text-decoration: none;
    color:var(--text-white);
}

.btn{

    background-color: var(--main-color);
    color: var(--text-white);
    transition: 0.2s ease;
    border: none;
    border: 2px solid var(--main-color);
    
}

.box-style{

    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgb(218, 217, 217);
    
}

.R-reverse{

    flex-direction: row-reverse;

}

.btn:hover{

    background-color: transparent;
    color: var(--main-color);

}

.center{

    text-align: center;

}


/* Styling of S S-Caterers Start */


/* Styling of Header Start */
header{

    height: 100vh;
    background-color: black;
    background-image: url(https://assets.foodhub.com/images/thumbnails/indian_rice_seafood_004_692x306.jpg);
    background-image: url(https://media.istockphoto.com/id/1330797206/photo/greek-food-double-border-top-view-on-a-dark-banner-background.jpg?s=612x612&w=0&k=20&c=GozeHjOWjkph5Ba0LHfKZm8npaWWFyACseP94kM0-yY=);
    background-size: cover;
}






/* Styling of Nav Start */
nav{

    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgba(32, 32, 32);
    color: var(--text-white);
    
    

}

span{

    color: var(--main-color);
}
ul{

    list-style: none;
    gap: 50px;

}

ul>li>a{

    font-weight: 600;
    display: inline-block;
    position: relative;
    padding-block: 5px;
    font-size: 0.8rem;

}

ul>li>a::before{

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--text-gray);
    transition: all 0.5s;

}

ul>li>a:hover::before{

    width: 100%;

}

ul>li>a:focus:before{

    width: 100%;
    background-color: var(--main-color);

}

ul>li>a:focus{

    color: var(--main-color);

}



/* Styling of banner-content Start */
.banner-content{

    text-align: center;
    color: var(--text-white);

}

.banner-content h1{

    padding-block: 170px 30px;
    font-size: 3.3rem;
    font-family: var(--unique-font);
    font-weight: 400;
    
}

.banner-content h2{

    color: var(--main-color);
    font-size: 2.9rem;
    font-family:  var(--unique-font);
    font-weight: 400;
    
}

.banner-content p{

    color: var(--text-gray);
    margin-block: 30px 40px;
    font-size: 1.1rem;

}

.banner-btn{

    font-weight: 600;
    font-size: 1.4rem;
    padding: 10px 30px;

}



/* Styling of About-Section start*/
.About-Section{

    background-color: rgb(230,230,230);
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}



/* Styling of About-Section-content start */
.About-Section-content{
 
    flex-basis: 40%;


}


.About-Section-content h2{

    color: var(--main-color);
    font-family: var(--unique-font);
    font-size: 3rem;
    
}

.About-Section-content h3{

    color: var(--text-dark);
    font-size: 1.3rem;
    margin-block: 20px;
    text-transform: uppercase;

}

.About-Section-content p{

    color: rgb(120,105,125);
    font-size: 0.8rem;
    line-height: 1.5rem;

}


/* Styling of About-Section-circle Start */
.About-Section-circle{

    width: 450px;
    height: 450px;
    border-radius: 50%;
    /* background-color: red; */
    background-image: url(./assets/biryani.jpg);
    background-size: cover;
    background-position: center;
    animation: circles 10s  2s infinite;

}


/* Animation for circles */
@keyframes circles {
    
    10%{
        background-image: url(./assets/biryani.jpg);
    }
    
    40%{
        background-image: url(./assets/korma.png);
    }
    
    80%{
        background-image: url(./assets/bbq.jpg);
    }
    
    100%{
        background-image: url(./assets/fish.jpg);
    }
}



/* Styling of Menu-Section Start */

.menu-box{

    background-color: rgb(245,245,245);

}
.top h2{

    color: black;
}

.heading{

    color: var(--main-color);
    font-size: 4.5rem;
    font-family: var(--great-vibe);
    /* letter-spacing: 0.3rem; */
    font-weight: bolder;
    margin-block: 100px 50px;
}

.top-content{

    text-align: center;
}

.top-content h1{

    color: var(--main-color);
    font-family: var(--unique-font);
    font-size: 5.4rem;
    font-weight: 500;
    margin-top: 60px;
}

.top-content p{

    width: 65%;
    margin:50px auto 30px;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1rem;
    color: var(--text-dark-gray);
    font-weight: 500;
}

.menu-header{

    border-bottom: 2px solid black;

}

.box{

    flex-direction: column;
    height: 170px;
    gap: 30px;
    width: 25%;
    align-items: center;
}

.top h2{

    border-bottom: 2px solid black;
    display: inline-block;
    padding-block: 10px;
    font-weight: 500;
}

/* Hover state of box */
.box:active{

    background-color: var(--main-color);
    
    
}

.box:focus{

    background-color: var(--main-color);
    
    
}
.box:focus .top h2{

    /* Point to be notice */
    border-color: white;
    color: var(--text-white);
    
}



/* Styling of menu-foods Start */

.food-row{

    flex-wrap: wrap;
    background-color: white;
}


.food-box{

    width: 50%;
    height: 250px;
    border: 0.5px solid rgb(155, 154, 154);

}

.product{

    width: 50%;
    
}

.product img{

    width: 100%;
    height: 100%;

}

.detail{

    width: 50%;
    padding: 40px 20px;

}

.detail h2{

   font-weight: 500;
   font-size: 1.4rem;

}

.detail p{

    line-height: 1.9rem;
    padding-block: 20px 10px;
    font-size: 1rem;
    color: var(--text-dark-gray);
}

.detail .btn{

   padding: 10px 20px;
   font-size: 1.1rem;
   font-weight: 600;
}

/* Styling for offer Section Start */
.offer-section{

    background-color: #f1efef7a;
    padding-bottom:20px ;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgb(218, 217, 217);
    padding-inline: 10px;
}
.offer-boxes{

    justify-content: space-between;
}



.offer-h1{

    font-family: var(--unique-font);
    font-size: 4.4rem;
    font-weight: lighter;
    margin-block: 80px 30px;
    color: var(--main-color);
    text-align: center;
}

.offer-p{

    width: 70%;
    margin-inline: auto;
    text-align: center;
    line-height: 1.6rem;
    margin-bottom: 40px;
}
.offer-box{

    flex-basis: 28%;
    text-align: center;
    border: 1px solid var(--main-color);
}


.offer-banner{

    background-color: var(--main-color);
    text-align: center;
    padding-block: 20px 30px;
    color: var(--text-white);
}

.offer-banner h3{

    padding-block: 10px;
}

.price{

    background-color: var(--text-gray);
    text-align: center;
    padding-block: 30px;
}

.menu-itmes-list li{

    border-bottom: 1px solid var(--text-gray);
    padding-block: 10px;
    font-size: 0.9rem;
}

.buttom-button{

    background-color: #eeebeb94;
    padding: 5px 10px;
}

.buttom-button .btn{

    width: 100%;
    padding-block: 10px;
    font-size: 1.3rem;
    font-weight: 600;
}

























